<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tutorial691-online.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="tutorial691-online.commands.category"
            name="Detect Command"
            id="tutorial691-online.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="tutorial691online.handlers.SampleHandler"
            commandId="tutorial691-online.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="tutorial691-online.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="tutorial691-online.menus.sampleMenu"
               label="Detect Menu"
               mnemonic="M">
            <command
                  commandId="tutorial691-online.commands.sampleCommand"
                  id="tutorial691-online.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="tutorial691-online.toolbars.sampleToolbar">
            <command
                  id="tutorial691-online.toolbars.sampleCommand"
                  commandId="tutorial691-online.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="online">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
